nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href="/") Blog.Com
  button.navbar-toggler(
    type="button", 
    data-toggle="collapse", 
    data-target="#navbarSupportedContent", 
    aria-controls="navbarSupportedContent", 
    aria-expanded="false", 
    aria-label="Toggle navigation"
  )
    span.navbar-toggler-icon
  div.collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href="/") Home
          span.sr-only (current)
      li.nav-item
        a.nav-link(href="#") About
      li.nav-item
        a.nav-link(href="#") Contact
    hr
    div.d-flex.justify-content-center
      a(href="/sign-in").btn.btn-dark.btn-inline.text-white.mr-2 Sign In
      a(href="/sign-up").btn.btn-secondary.text-light Sign Up
